body {
  font-family: "ヒラギノ明朝 Pro W3", "Times New Roman";
  
  .navigation {
    background: #F7F7F7;
    .nav-list {
      padding: 20px;
      
      .nav-item {
        text-align: center;
        padding: 0px 10px;
      }
    }
  }

  .container-video {
    background: #000000;
    text-align: center;
    
    .embedded-video {
      width: 100%;
      max-width: 800px;
    }
  }

  .container-details {
    #section-project-detail {
      padding: 40px 20px;
    
      h2 {
        text-align: center;
      }      
      .text-align-vertical {
        position: relative;
        top: 150px;
      }
    }
    #section-profile {
      background: #EEEEEE;
      padding: 40px 20px;
      text-align: center;
      
      .name {
        margin-bottom: 0;
      }
      .title {
        margin-top: 5px;
        font-style: italic;
        color: #999;
      }
    }
    #section-contact {
      background: #F7F7F7;
      padding: 40px 20px;
      text-align: center;
      
      #email {
        font-size: 20px;
      }
    }
  }

  // utils
  .padding-bottom {
    padding-bottom: 20px;
  }
  
  .footer {
    padding: 40px 20px;
    background: #000;
    
    p {
      color: #FFF;
      margin: 0;
    }
  }
}
