nav.navbar {
    border: 0;
    border-radius: 0;
    width: 100%;
    position: fixed;
}

.contents-container {
    padding-top: 50px;

    #project {
        // background: green;
    }

    #team {
        padding: 20px;
        background-color: #C3B091;
    }

    #contact {
        padding: 20px;
        background-color: #233B6C;
        color: white;
    }
}
