@charset "UTF-8";
nav.navbar {
  border: 0;
  border-radius: 0;
  width: 100%;
  position: fixed;
  z-index: 1; }

.contents-container {
  padding-top: 50px;
  font-family: "ヒラギノ明朝 Pro W3", "Times New Roman"; }
  .contents-container #video {
    background-color: black;
    height: 450px; }
    .contents-container #video .placeholder {
      color: #777;
      text-align: center;
      padding-top: 200px; }
  .contents-container #project {
    background: #FFF;
    padding: 20px; }
  .contents-container #team {
    padding: 20px;
    background-color: #EEE; }
    .contents-container #team .finger-portrait {
      text-align: center;
      width: 200px;
      height: 400px;
      opacity: 0.5; }
  .contents-container #contact {
    padding: 20px;
    background-color: #fce2c4; }
  .contents-container #footer {
    background: #EEE;
    padding: 20px; }
